lxc.network.type                        = veth
lxc.network.flags                       = up
lxc.network.link                        = {{lxc_host.bridge}}
lxc.network.name                        = eth0
lxc.network.veth.pair                   = veth_{{lxc_container.name}}
