lxc.network.type                        = veth
lxc.network.flags                       = up
lxc.network.link                        = {{lxc_host.bridge}}
lxc.network.name                        = eth0
lxc.start.auto                          = 1
lxc.start.delay                         = 5
